  <div class="container-fluid" id="footer">
    <div class="row">
      <img src="<%= asset_path('just_V.png') %>"  alt=""/>
    </div>

    <div class="row">
      <ul class="list-unstyled footerItems">
        <li class="col-md-offset-1 col-md-2">
          <a href="/#/security">SECURITY</a>
        </li>
        <li class="col-md-2">
          <a href="/#/faq">FAQ</a>
        </li>
        <li class="col-md-2">
          <a href="/#/locations">PARTNERS</a>
        </li>
        <li class="col-md-2">
          <a href="/#/join">JOIN THE TEAM</a>
        </li>
        <li class="col-md-3">
          <a href="/#/agent">BECOME VALA AGENT</a>
        </li>
      </ul>
    </div>


  </div>
