  <div class="container-fluid" id="footer">
    <div class="row">
      <img src="<%= asset_path('just_V.png') %>"  alt=""/>
    </div>

    <div class="row">
      <ul class="list-unstyled footerItems">
        <li class="col-md-2">
          <a href="/#/security">SECURITY</a>
        </li>
        <li class="col-md-2">
          <a href="/#/faq">FAQ</a>
        </li>
        <li class="col-md-2">
          <a href="/#/partners">PARTNERS</a>
        </li>
        <li class="col-md-3">
          <a href="/#/agent">BECOME VALA AGENT</a>
        </li>
        <li class="col-md-2">
          <a href="" data-toggle="modal" data-target="#contactModal">CONTACT US</a>
        </li>
      </ul>
    </div>

        <!-- modal for user sign up -->
<div class="modal fade" id="contactModal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Have a chat with us!</h4>
      </div>
      
        <div class="modal-body">
          <form>
              <div class="row form-group">
                <div class="col-md-offset-1 col-md-4">Email</div>
                <div class="col-md-7">
                  support@vala.com
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-offset-1 col-md-4">Phone Number</div>
                <div class="col-md-7">
                  +852 5336 2464
                </div>
              </div>
          </form>
        </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  </div>
