<navbar></navbar>
  
  <div class="container-fluid">
    <div class="row col-md-12" id="about">
      <img src="<%= asset_path('about_ps_dark.png') %>"  alt=""/>
    </div>

    <div class="row col-md-12" id="about_text">
      <p> The vision is to build an application and platform that will make car parking convenient and simple. Simply put, Vala will bring the carpark to you.</p>

      <p> Vala will leverage its advanced technology platform to bring an on-demand valet parking services to its clients, transforming the historically troublesome and inefficient parking experience into one that is, efficient, affordable and hassle-free. It is estimated that up to 30% of traffic is attributed to drivers circling around and/or queuing for parking. Recent surveys done in major cities around the world have indicated that we spend an average of 106 days in our lifetime, searching for carpark spaces. </p>

      <p>Looking for parking, results in a loss of productivity, heightened driver frustration and wastes money by burning fuel. In addition, the economy as a whole is worse off with poorer air quality as a result of an increase in traffic congestion.</p>

      <p>In conclusion, Vala provides a service that benefits multiple stakeholders, the car owners, F&B operators, car park operators as well as the public. </p>
      
    </div>


  </div>

<footer></footer>