#footer {
  background-color: rgb(34, 34, 34);
  margin-left: -15px;
  width: 102%;
  /*height: auto;*/
}

#footer img {
  height: 200px;
  margin-left: 630px;
  /*margin-top: 20px;*/
  margin-bottom: -20px;
}

.footerItems {
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  margin-left: 100px;

}

.footerItems li a{
  font-size: 20px;
  font-family: Lucida Grande;
  margin-left: 50px;
  color: rgb(131,130,125) !important;
  margin-bottom: 50px;
}

.footerItems li a:hover {
  color: rgb(218,165,32) !important;
  font-size: 25px;
  text-decoration: none;
}

