.navbar {
  height: 150px;
  margin-bottom: 0px;
  color: rgb(131,130,125) !important;
}

#logo {
  height: 150px;
  margin-top: -10px;
  margin-left: 30px;
}

.navItems li a {
  font-size: 20px;
  margin-top: 50px;
  font-family: Lucida Grande;
  margin-right: 10px;
}

.navItems li a:hover {
  color: rgb(218,165,32) !important;
  font-size: 25px;
}

